html {
  margin-top: 0 !important;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix")
      format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
    url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"),
    url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ddd8d8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  font-family: "shabnam", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  color: #777777;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--ace-primary-color);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: var(--ace-primary-color);
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

[role="button"] {
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: "shabnam", cursive;
  font-weight: 400;
}

::-webkit-selection {
  color: #818892;
  background: #f9f6f0;
}

::-moz-selection {
  color: #818892;
  background: #f9f6f0;
}

::selection {
  color: #818892;
  background: #f9f6f0;
}

#qbootstrap-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  #qbootstrap-header {
    margin-top: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  }

  #qbootstrap-header .navbar-brand {
    color: var(--ace-primary-color) !important;
  }

  #qbootstrap-header #navbar li a {
    color: rgba(0, 0, 0, 0.5) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  #qbootstrap-header #navbar li a:hover {
    color: var(--ace-primary-color) !important;
  }

  #qbootstrap-header #navbar li a span:before {
    background: transparent !important;
  }

  #qbootstrap-header #navbar li.active a {
    background: transparent;
    background: none;
    color: var(--ace-primary-color) !important;
  }

  #qbootstrap-header #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

#qbootstrap-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}

#qbootstrap-header #navbar li a {
  font-family: "shabnam", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
}

#qbootstrap-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 9px;
}

#qbootstrap-header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--ace-primary-color);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#qbootstrap-header #navbar li a:hover {
  color: #fff;
}

#qbootstrap-header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

#qbootstrap-header #navbar li.active a {
  background: transparent;
  background: none;
  color: #fff;
}

#qbootstrap-header #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#qbootstrap-header .navbar-brand {
  float: left;
  display: block;
  font-size: 34px;
  padding-left: 0;
  color: #fff;
  font-family: "clicker script", cursive;
}

#qbootstrap-header.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
}

#qbootstrap-header.navbar-fixed-top .navbar-brand {
  color: var(--ace-primary-color);
}

#qbootstrap-header.navbar-fixed-top #navbar li a {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#qbootstrap-header.navbar-fixed-top #navbar li a:hover {
  color: var(--ace-primary-color);
}

#qbootstrap-header.navbar-fixed-top #navbar li.active a {
  background: transparent;
  background: none;
  color: var(--ace-primary-color);
}

#qbootstrap-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#qbootstrap-header .navbar-default {
  border: transparent;
  background: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

@media screen and (max-width: 768px) {
  #qbootstrap-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

#qbootstrap-header .navbar-default .brand-slogan {
  margin: 28px 0 0 15px;
  float: left;
  /* letter-spacing: 2px; */
  color: #adadad;
}

#qbootstrap-header .navbar-default .brand-slogan em {
  color: var(--ace-primary-color);
  font-style: normal;
}

#qbootstrap-header a {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  clear: both;
}

.section-heading.svg-sm-2 .svg {
  height: 150px;
  margin-bottom: 0;
  padding: 0;
}

.section-heading.svg-sm .svg {
  height: 180px;
  margin-bottom: -80px;
  padding: 0;
}

.section-heading.colored .svg {
  fill: var(--ace-primary-color);
}

.section-heading h2 {
  font-size: 40px;
  color: var(--ace-primary-color);
  display: block;
  padding-bottom: 20px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 50px;
  }
}

.section-heading h3 {
  font-weight: 300;
  line-height: 1.5;
  color: #929292;
}

@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 24px !important;
    line-height: 34px;
  }
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#qbootstrap-couple,
#qbootstrap-countdown,
#qbootstrap-groom-bride,
#qbootstrap-story,
#qbootstrap-people,
#qbootstrap-when-where,
#qbootstrap-started,
#qbootstrap-gallery,
#qbootstrap-testimonials,
#qbootstrap-press {
  padding: 5em 0;
}

@media screen and (max-width: 480px) {
  #qbootstrap-couple,
  #qbootstrap-countdown,
  #qbootstrap-groom-bride,
  #qbootstrap-story,
  #qbootstrap-people,
  #qbootstrap-when-where,
  #qbootstrap-started,
  #qbootstrap-gallery,
  #qbootstrap-testimonials,
  #qbootstrap-press {
    padding: 5em 0;
  }
}

.qbootstrap-bg {
  background: rgba(0, 0, 0, 0.03);
}

.qbootstrap-cover,
.qbootstrap-hero {
  position: relative;
  height: 800px;
  width: 100%;
}
.qbootstrap-cover {
  background-position: top center;
}

@media screen and (max-width: 768px) {
  .qbootstrap-cover,
  .qbootstrap-hero {
    height: 700px;
  }
}

.qbootstrap-overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.qbootstrap-cover,
.video-hero {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .qbootstrap-cover,
  .video-hero {
    heifght: inherit;
    padding: 3em 0;
  }
}

.qbootstrap-cover .display-t,
.video-hero .display-t {
  display: table;
  height: 800px;
  width: 100%;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .qbootstrap-cover .display-t,
  .video-hero .display-t {
    height: 600px;
  }
}

.qbootstrap-cover .display-tc,
.video-hero .display-tc {
  display: table-cell;
  vertical-align: middle;
}

.qbootstrap-cover .display-tc .holder,
.video-hero .display-tc .holder {
  color: #fff;
  font-family: "shabnam", Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  /* letter-spacing: 10px; */
}

.dashed,
.qbootstrap-cover .display-tc .holder span,
.video-hero .display-tc .holder span {
  position: relative;
}

.dashed:before,.dashed:after,
.qbootstrap-cover .display-tc .holder span:before,
.qbootstrap-cover .display-tc .holder span:after,
.video-hero .display-tc .holder span:before,
.video-hero .display-tc .holder span:after {
  position: absolute;
  top: 49%;
  width: 100px;
  height: 2px;
  background: #fff;
  content: "";
}

.qbootstrap-cover .display-tc .holder span:before,
.video-hero .display-tc .holder span:before {
  left: -110px;
}

.qbootstrap-cover .display-tc .holder span:after,
.video-hero .display-tc .holder span:after {
  right: -110px;
}

@media screen and (max-width: 768px) {
  .qbootstrap-cover .display-tc .holder,
  .video-hero .display-tc .holder {
    /* letter-spacing: 2px; */
  }

  .qbootstrap-cover .display-tc .holder span,
  .video-hero .display-tc .holder span {
    position: relative;
  }

  .qbootstrap-cover .display-tc .holder span:before,
  .qbootstrap-cover .display-tc .holder span:after,
  .video-hero .display-tc .holder span:before,
  .video-hero .display-tc .holder span:after {
    width: 50px;
    height: 2px;
  }

  .qbootstrap-cover .display-tc .holder span:before,
  .video-hero .display-tc .holder span:before {
    left: -60px;
  }

  .qbootstrap-cover .display-tc .holder span:after,
  .video-hero .display-tc .holder span:after {
    right: -60px;
  }
}

.qbootstrap-cover .display-tc h2,
.video-hero .display-tc h2 {
  color: #fff;
  font-size: 80px;
  margin-bottom: 20px;
  font-weight: 300 !important;
}

.qbootstrap-cover .display-tc h2 strong,
.video-hero .display-tc h2 strong {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .qbootstrap-cover .display-tc h2,
  .video-hero .display-tc h2 {
    font-size: 60px;
  }
}

.qbootstrap-cover .display-tc p,
.video-hero .display-tc p {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  word-spacing: 3px;
}

.qbootstrap-cover .display-tc .svg-sm .svg,
.video-hero .display-tc .svg-sm .svg {
  height: 180px;
  margin-bottom: 0;
}

.qbootstrap-cover .display-tc .colored .svg,
.video-hero .display-tc .colored .svg {
  fill: #fff;
}

#qbootstrap-slider-hero {
  min-height: 800px;
  background: #fff url(../images/loader.gif) no-repeat center center;
}

#qbootstrap-slider-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}

#qbootstrap-slider-hero .flexslider .slides {
  position: relative;
  overflow: hidden;
}

#qbootstrap-slider-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 770px;
  position: relative;
}

#qbootstrap-slider-hero .flexslider .slides li:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#qbootstrap-slider-hero .flexslider .flex-control-nav {
  bottom: 7em;
  z-index: 1000;
}

#qbootstrap-slider-hero .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

#qbootstrap-slider-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: var(--ace-primary-color);
}

#qbootstrap-slider-hero .flexslider .flex-direction-nav {
  display: none;
}

#qbootstrap-slider-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  min-height: 800px;
  z-index: 9;
}

#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  height: 800px;
}

#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner h1,
#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner h2 {
  margin: 0;
  padding: 0;
  color: white;
}

#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner h1 {
  margin-bottom: 20px;
  font-size: 80px;
  line-height: 1.3;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  #qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner h1 {
    font-size: 30px;
  }
}

#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .holder {
  color: #fff;
  font-family: "shabnam", Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  /* letter-spacing: 10px; */
  font-weight: 400;
}

#qbootstrap-slider-hero
  .flexslider
  .slider-text
  > .slider-text-inner
  .holder
  span {
  position: relative;
}

#qbootstrap-slider-hero
  .flexslider
  .slider-text
  > .slider-text-inner
  .holder
  span:before,
#qbootstrap-slider-hero
  .flexslider
  .slider-text
  > .slider-text-inner
  .holder
  span:after {
  position: absolute;
  top: 49%;
  width: 100px;
  height: 2px;
  background: #fff;
  content: "";
}

#qbootstrap-slider-hero
  .flexslider
  .slider-text
  > .slider-text-inner
  .holder
  span:before {
  left: -110px;
}

#qbootstrap-slider-hero
  .flexslider
  .slider-text
  > .slider-text-inner
  .holder
  span:after {
  right: -110px;
}

@media screen and (max-width: 768px) {
  #qbootstrap-slider-hero
    .flexslider
    .slider-text
    > .slider-text-inner
    .holder {
    /* letter-spacing: 2px; */
  }

  #qbootstrap-slider-hero
    .flexslider
    .slider-text
    > .slider-text-inner
    .holder
    span {
    position: relative;
  }

  #qbootstrap-slider-hero
    .flexslider
    .slider-text
    > .slider-text-inner
    .holder
    span:before,
  #qbootstrap-slider-hero
    .flexslider
    .slider-text
    > .slider-text-inner
    .holder
    span:after {
    width: 50px;
    height: 2px;
  }

  #qbootstrap-slider-hero
    .flexslider
    .slider-text
    > .slider-text-inner
    .holder
    span:before {
    left: -60px;
  }

  #qbootstrap-slider-hero
    .flexslider
    .slider-text
    > .slider-text-inner
    .holder
    span:after {
    right: -60px;
  }
}

#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 40px;
  font-family: "shabnam", Arial, sans-serif;
}

#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner h2 a {
  color: rgba(255, 255, 255, 0.5);
}

#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .date {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  /* letter-spacing: 10px; */
}

#qbootstrap-slider-hero
  .flexslider
  .slider-text
  > .slider-text-inner
  .date
  span {
  padding: 5px 20px;
  border: 1px solid #fff;
}

#qbootstrap-slider-hero .flexslider .slider-text > .slider-text-inner .btn {
  padding: 18px 30px !important;
  color: #fff;
  border: none !important;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  /* letter-spacing: 2px; */
}

#qbootstrap-slider-hero
  .flexslider
  .slider-text
  > .slider-text-inner
  .btn:hover {
  background: var(--ace-primary-color) !important;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}

#qbootstrap-couple img {
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#qbootstrap-couple h3 {
  font-size: 34px;
  font-family: "shabnam", cursive;
  color: var(--ace-primary-color);
}

@media screen and (max-width: 768px) {
  #qbootstrap-couple h3 {
    font-size: 18px;
  }
}

#qbootstrap-couple span {
  color: var(--ace-primary-color);
  /* letter-spacing: 10px; */
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid rgba(255, 132, 124, 0.3);
  padding: 2px 5px;
}

#qbootstrap-couple .amp-center {
  font-size: 60px;
  margin-top: 100%;
  color: var(--ace-primary-color);
}

@media screen and (max-width: 768px) {
  #qbootstrap-couple .amp-center {
    font-size: 40px;
  }
}

#qbootstrap-couple .amp-center .colored .svg {
  fill: var(--ace-primary-color);
}

.qbootstrap-bg {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

#qbootstrap-countdown {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  z-index: 0;
  width: 100%;
}

#qbootstrap-countdown .section-heading {
  margin-bottom: 0 !important;
}

#qbootstrap-countdown .section-heading h2 {
  color: #fff;
}

@media screen and (max-width: 768px) {
  #qbootstrap-countdown .section-heading h2 {
    font-size: 30px;
  }
}

#qbootstrap-countdown .section-heading .datewed {
  font-size: 26px;
  color: rgba(255, 255, 255, 0.7);
  word-spacing: 10px;
}

#qbootstrap-countdown .section-heading.svg-sm .svg {
  height: 180px;
  margin-bottom: -50px;
  padding: 0;
}

#qbootstrap-countdown .section-heading.colored .svg {
  fill: #fff;
}

#qbootstrap-countdown .overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
}

#qbootstrap-countdown .countdown {
  margin-bottom: 0;
  font-size: 80px;
  color: #fff;
}

#qbootstrap-countdown .countdown span {
  margin: 0 30px;
  display: inline-block;
  font-family: "clicker script", cursive;
}

#qbootstrap-countdown .countdown small {
  display: block;
  font-size: 14px;
  font-family: "clicker script", Arial, sans-serif;
  /* letter-spacing: 10px; */
  text-transform: uppercase;
}

#qbootstrap-countdown .display-over {
  z-index: 2;
}

.couple {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 40px;
  margin-top: 110px;
}

.couple.groom {
  position: relative;
  z-index: 0;
}

.couple.groom:after {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: "";
  background: #f4f3e2;
  z-index: -1;
}

.couple.bride {
  position: relative;
  z-index: 0;
}

.couple.bride:after {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: "";
  background: #fef6f8;
  z-index: -1;
}

.couple img {
  width: 300px;

  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: -190px;
  border: 10px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.couple .desc {
  z-index: 1;
}

.couple .desc h2 {
  color: var(--ace-primary-color);
  font-size: 40px;
  margin-bottom: 30px;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 30px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1px;
  border-right: 1px dashed rgba(255, 132, 124, 0.8);
  left: 50%;
  margin-left: 0px;
}

@media screen and (max-width: 768px) {
  .timeline:before {
    margin-left: 15px;
  }
}

@media screen and (max-width: 480px) {
  .timeline:before {
    margin-left: -60px;
  }
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 38%;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 50px;
  position: relative;
  z-index: 0;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 80px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid rgba(0, 0, 0, 0.05);
  border-right: 0 solid rgba(0, 0, 0, 0.05);
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 81px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

@media screen and (max-width: 480px) {
  .timeline > li > .timeline-panel {
    width: 75% !important;
  }

  .timeline > li > .timeline-panel:before {
    top: 30px;
  }

  .timeline > li > .timeline-panel:after {
    top: 31px;
  }
}

.timeline > li > .timeline-panel .overlay {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: "";
  background: #f4f3e2;
  z-index: -1;
}

.timeline > li > .timeline-panel .overlay.overlay-2 {
  background: #fef6f8;
}

.timeline > li > .timeline-badge {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  width: 200px;
  height: 200px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -100px;
  border: 10px solid #fff;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .timeline > li > .timeline-badge {
    width: 90px;
    height: 90px;
    margin-left: -20px !important;
  }
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
  margin-top: 0;
  font-size: 34px;
  color: var(--ace-primary-color);
  margin-bottom: 30px;
}

.date {
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
  text-transform: uppercase;
  /* letter-spacing: 2px; */
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 992px) {
  ul.timeline:before {
    left: 100px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 240px);
    width: -moz-calc(100% - 240px);
    width: -webkit-calc(100% - 240px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

.qbootstrap-greetings {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

#qbootstrap-testimonials {
  /* background: var(--ace-primary-color); */
  z-index: 0;
}

#qbootstrap-testimonials .overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
}

#qbootstrap-testimonials .section-heading {
  margin-bottom: 0 !important;
}

#qbootstrap-testimonials .section-heading h2 {
  color: #fff;
}

@media screen and (max-width: 768px) {
  #qbootstrap-testimonials .section-heading h2 {
    font-size: 30px;
  }
}

#qbootstrap-testimonials .section-heading.svg-sm .svg {
  height: 180px;
  margin-bottom: -50px;
  padding: 0;
}

#qbootstrap-testimonials .section-heading.colored .svg {
  fill: #fff;
}

#qbootstrap-testimonials .box-testimony {
  margin-bottom: 2em;
  float: left;
}

#qbootstrap-testimonials .box-testimony a {
  color: rgba(255, 255, 255, 0.5);
}

#qbootstrap-testimonials .box-testimony a:hover,
#qbootstrap-testimonials .box-testimony a:focus,
#qbootstrap-testimonials .box-testimony a:active {
  color: white;
  text-decoration: none;
}

#qbootstrap-testimonials .box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 40px;
  background: #ffffff35;
  color: white;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

#qbootstrap-testimonials .box-testimony blockquote:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-top: 15px solid black;
  border-top-color:#ffffff35;;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

#qbootstrap-testimonials .box-testimony blockquote .quote {
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;
  font-size: 30px;
  line-height: 0;
  display: table;
  color: #fff;
  width: 56px;
  height: 56px;
  margin-top: -30px;
  background: var(--ace-primary-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#qbootstrap-testimonials .box-testimony blockquote .quote > span {
  display: table-cell;
  vertical-align: middle;
}

#qbootstrap-testimonials .box-testimony blockquote p {
  font-style: italic;
}

#qbootstrap-testimonials .box-testimony .author {
  line-height: 20px;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

#qbootstrap-testimonials .box-testimony .author .subtext {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

#qbootstrap-testimonials .testimony-slide {
  position: relative;
  color: #fff !important;
  width: 90%;
  margin: 0 auto;
}

#qbootstrap-testimonials .testimony-slide blockquote {
  border: none;
  position: relative;
  padding: 0;
  font-size: 30px;
  font-family: "shabnam", cursive;
  font-style: italic;
}

#qbootstrap-testimonials .arrow-thumb {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
}

#qbootstrap-testimonials .arrow-thumb a {
  font-size: 32px;
  color: #dadada;
}

#qbootstrap-testimonials .arrow-thumb a:hover,
#qbootstrap-testimonials .arrow-thumb a:focus,
#qbootstrap-testimonials .arrow-thumb a:active {
  text-decoration: none;
}

#qbootstrap-testimonials .owl-theme .owl-dots .owl-dot span {
  background: rgba(255, 255, 255, 0.3) !important;
}

#qbootstrap-testimonials .owl-theme .owl-dots .active span {
  background: white !important;
}

#qbootstrap-testimonials .qbootstrap-heading {
  margin-bottom: 3em;
}

#qbootstrap-testimonials .qbootstrap-heading h2 {
  color: #fff;
  margin-bottom: 20px !important;
}

.groom-men img {
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .groom-men img {
    width: 300px;
    margin: 0 auto;
  }
}

.groom-men h3 {
  font-family: "shabnam", cursive;
  font-size: 28px;
}

.wedding-events {
  background: #fff;
}

@media screen and (max-width: 768px) {
  .wedding-events {
    margin-bottom: 2em;
  }
}

.wedding-events .ceremony-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
}

.wedding-events .desc {
  padding: 2em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 0;
}

.wedding-events .desc:after {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: "";
  background: #f4f3e2;
  z-index: -1;
}

.wedding-events .desc h3 {
  font-size: 35px;
  color: var(--ace-primary-color);
  display: block;
  margin-bottom: 40px;
}

.wedding-events .desc .date {
  display: block;
}

.wedding-events .desc .date span {
  display: block;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.wedding-events .desc .icon-tip {
  position: relative;
  width: 100%;
  float: left;
}

.wedding-events .desc .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 60%;
}

.wedding-events .desc .icon i {
  color: #fff;
  padding: 15px;
  background: var(--ace-primary-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .wedding-events .desc .icon {
    position: relative;
    margin: 0;
  }
}

#qbootstrap-started {
  position: relative;
}

#qbootstrap-started .section-heading {
  margin-bottom: 0 !important;
}

#qbootstrap-started .section-heading h2 {
  color: #fff;
}

@media screen and (max-width: 768px) {
  #qbootstrap-started .section-heading h2 {
    font-size:26px;
  }
}

#qbootstrap-started .section-heading h3 {
  color: rgba(255, 255, 255, 0.8);
}

#qbootstrap-started .section-heading .datewed {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
}

#qbootstrap-started .section-heading.svg-sm .svg {
  height: 180px;
  margin-bottom: -50px;
  padding: 0;
}

#qbootstrap-started .section-heading.colored .svg {
  fill: #fff;
}

#qbootstrap-started .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

#qbootstrap-started .qbootstrap-heading h2 {
  color: #fff;
}

#qbootstrap-started .qbootstrap-heading p {
  color: rgba(255, 255, 255, 0.5);
}

#qbootstrap-started .form-control {
  background: rgba(255, 255, 255, 0.3);
  border: none !important;
  color: #fff;
  font-size: 14px !important;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#qbootstrap-started .form-control::-webkit-input-placeholder {
  color: #fff;
}

#qbootstrap-started .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

#qbootstrap-started .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

#qbootstrap-started .form-control:-ms-input-placeholder {
  color: #fff;
}

#qbootstrap-started .form-control:focus {
  background: rgba(255, 255, 255, 0.3);
}

#qbootstrap-started .btn {
  height: 40px;
  border: none !important;
  background: var(--ace-primary-color);
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
}

#qbootstrap-started .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}

#qbootstrap-started .form-inline .form-group .form-control {
  width: 100%;
}

#qbootstrap-started .qbootstrap-heading {
  margin-bottom: 30px;
}

#qbootstrap-started .qbootstrap-heading h2 {
  margin-bottom: 0;
}

.gallery {
  margin-bottom: 30px;
}

.gallery .gallery-img {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
}

.gallery .gallery-img img {
  position: relative;
  max-width: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}

.gallery .gallery-img:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

#qbootstrap-press {
  background: #f4f4f4;
}

#qbootstrap-press .qbootstrap-press-item {
  background: #fff;
  float: left;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

@media screen and (max-width: 480px) {
  #qbootstrap-press .qbootstrap-press-item {
    display: block !important;
  }
}

#qbootstrap-press .qbootstrap-press-item .qbootstrap-press-text,
#qbootstrap-press .qbootstrap-press-item .qbootstrap-press-img {
  width: 50%;
}

@media screen and (max-width: 480px) {
  #qbootstrap-press .qbootstrap-press-item .qbootstrap-press-text,
  #qbootstrap-press .qbootstrap-press-item .qbootstrap-press-img {
    height: inherit;
    float: none !important;
    width: 100%;
    display: block !important;
  }
}

#qbootstrap-press .qbootstrap-press-item .qbootstrap-press-text {
  float: left;
  padding: 20px;
}

#qbootstrap-press
  .qbootstrap-press-item
  .qbootstrap-press-text
  .qbootstrap-press-title {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  font-weight: 400;
  font-size: 20px;
  color: #444;
  position: relative;
}

#qbootstrap-press
  .qbootstrap-press-item
  .qbootstrap-press-text
  .qbootstrap-press-title
  .qbootstrap-border {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 30px;
  background: var(--ace-primary-color);
}

#qbootstrap-press .qbootstrap-press-item .qbootstrap-press-img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  background-size: cover;
}

@media screen and (max-width: 480px) {
  #qbootstrap-press .qbootstrap-press-item .qbootstrap-press-img {
    height: 200px;
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
  }
}

.qbootstrap-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}

.qbootstrap-nav-toggle.active i::before,
.qbootstrap-nav-toggle.active i::after {
  background: var(--ace-primary-color);
}

.qbootstrap-nav-toggle:hover,
.qbootstrap-nav-toggle:focus,
.qbootstrap-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}

.qbootstrap-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 3px;
  color: var(--ace-primary-color);
  font: bold 14px/0.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: var(--ace-primary-color);
  transition: all 0.2s ease-out;
}

.qbootstrap-nav-toggle i::before,
.qbootstrap-nav-toggle i::after {
  content: "";
  width: 25px;
  height: 3px;
  background: var(--ace-primary-color);
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.qbootstrap-nav-toggle i::before {
  top: -7px;
}

.qbootstrap-nav-toggle i::after {
  bottom: -7px;
}

.qbootstrap-nav-toggle:hover i::before {
  top: -10px;
}

.qbootstrap-nav-toggle:hover i::after {
  bottom: -10px;
}

.qbootstrap-nav-toggle.active i {
  background: transparent;
}

.qbootstrap-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.qbootstrap-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.qbootstrap-nav-toggle {
  position: absolute;
  top: 12px;
  right: 0px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  border-bottom: none !important;
}

@media screen and (max-width: 768px) {
  .qbootstrap-nav-toggle {
    display: block;
  }
}

.person {
  text-align: center;
  margin-bottom: 40px;
  float: left;
  width: 100%;
}

.person img {
  display: block;
  margin: 0 auto;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.person .name {
  font-size: 24px;
}

.person .position {
  text-transform: uppercase;
  color: #c3c3c3;
  margin-bottom: 30px;
  /* letter-spacing: 2px; */
}

#footer {
  padding: 2px 0;
  color: #7f7f7f;
  background-color: #f5f5f5;
  font-size: 12px;
}

#footer .copyright {
  margin-bottom: 0px;
  padding-bottom: 0;
}

.btn {
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn.btn-primary {
  background: var(--ace-primary-color);
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  box-shadow: none;
  background: var(--ace-primary-color);
}

.btn:hover,
.btn:active,
.btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}

.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active {
  border-color: transparent;
}

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}

.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}

.social li a i {
  display: table-cell;
  vertical-align: middle;
}

.social li a:hover,
.social li a:active,
.social li a:focus {
  text-decoration: none;
  border-bottom: none;
}

.social li a.social-box {
  background: var(--ace-primary-color);
  color: #fff;
}

.social li a.social-circle {
  background: var(--ace-primary-color);
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.social li a:hover {
  background: #393e46 !important;
}

.social.social-box a {
  background: var(--ace-primary-color);
  color: #fff;
}

.social.social-circle a {
  background: var(--ace-primary-color);
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 40px;
  font-size: 18px;
  font-weight: 300;
}

.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--ace-primary-color);
}

.js .animate-box {
  opacity: 0;
}

.qbootstrap-animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*# sourceMappingURL=style.css.map */
.nastaliq {
  font-family: "nastaliq" !important;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-0 {
  padding-bottom: 0 !important;
}

#qbootstrap-groom-bride p {
  font-size: 20px;
  text-align: justify;
  text-align-last: center;
  line-height: 205%;
}

.address-box {
  display: flex;
}

.address-box .wedding-events,
.address-box .wedding-events > div {
  height: 100%;
}

@media only screen and (max-width: 786px) {
  .date.spacer {
    margin-top: 45px;
  }

  .address-box {
    flex-direction: column;
  }

  #map {
    height: 300px;
  }
}

.font-16 {
  font-size: 16px;
}

textarea {
  overflow: auto;
  background: rgba(255, 255, 255, 0.3);
  border: none !important;
  color: #fff;
  font-size: 16px !important;
  width: 100%;
  padding: 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

textarea::placeholder {
  color: white;
}

@media only screen and (min-width: 768px) {
  .comment-form > div {
    float: right;
  }
}

/* .comments_swiper{
  padding-top: 40px;
} */
.comments_swiper .swiper-slide .quote ~ p {
  max-height: 200px;
  overflow-y: auto;
}

@media only screen and (max-width: 425px) {
  .comments_swiper .swiper-slide {
    width: 90%;
  }

  .comments_swiper {
    margin-left: -15px;
  }
}

.comments_swiper .box-testimony {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .navbar-nav > li {
    float: right;
  }
}

.art_radio {
  border-radius: 0;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 8px 16px;
  opacity: 0.7;
  transition: all 500ms;
  display: flex;
  align-items: center;
}



.art_radio.active {
  box-shadow: 0 0 13px 3px #ffde6b;
  opacity: 1;
}

.art_radio input[type="radio"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

/* ===================================================== */
.music-player__box {
  margin-top: 200px;
  position: fixed;
  bottom: 10px;
  z-index: 100;
  width: 100%;
  right: 0;
  left: 0;
  margin: auto;
  padding: 0 20px;
}

.music-player__box audio {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .music-player__box audio {
    margin: 0 auto 0 0;
  }
}

audio::-webkit-media-controls-timeline-container {
  background-attachment: red;
}

/* ========== */

.player {
  box-shadow: 0 2px 4px -4px rgba(0, 0, 0, 0.4),
    0 50px 45px -20px rgba(0, 0, 0, 0.2);
  /* border-radius: 30px; */
  transition: all 500ms;
  overflow: hidden;
  position: fixed;
  bottom: -80px;
  left: 0;
  right: 0;
  z-index: 500;
  width: 100%;
  height: 145px;
  margin: auto;
}

/* @media (min-width:1024px) {
  .player {
    bottom: 0;
  }
} */
.player.active {
  bottom: 0 !important;
  height: 81px !important;
}
.player.active .player__prev {
  transform: translateY(0);
}
.player.active .player__play {
  transform: translateY(0);
}
.player.active .player__next {
  transform: translateY(0);
}
.player .player__prev {
  transition: 500ms;
  transform: translateY(50px);
}
.player .player__play {
  transition: 500ms;
  transition-delay: 200ms;
  transform: translateY(50px);
}
.player .player__next {
  transition: 500ms;
  transition-delay: 400ms;
  transform: translateY(50px);
}

.player__meta {
  box-sizing: border-box;
  font-size: 24px;
  padding: 50px 20px;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
  top: 0;
  width: 100%;
  z-index: 1;
}

.player__artist {
  font-weight: 300;
}

.player__bg {
  background-color: rgba(var(--ace-player-primary), 0.8);
  height: 100%;
  position: absolute;
  width: 100%;
  transition: all 1.5s;
}
.player.active .player__bg {
  background-color: rgba(var(--ace-player-primary), 1);
}

.player__bg:before,
.player__bg:after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.player__bg:after {
  background: linear-gradient(to top, #000, #fff);
  opacity: 0.2;
  mix-blend-mode: soft-light;
}

.player__controls {
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
  height: 80px;
  position: absolute;
  width: 100%;
}

.player__controls:before,
.player__controls:after {
  content: "";
  height: 100%;
  display: block;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.player__controls:before {
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.6);
  mix-blend-mode: soft-light;
}

.player__controls-bg {
  background-position: bottom center;
  background-size: cover;
  height: 100%;
  filter: blur(30px);
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.player__controls-bg:before {
  background: linear-gradient(to top, #000, #fff);
  content: "";
  display: block;
  height: 100%;
  opacity: 0.08;
  mix-blend-mode: soft-light;
  position: absolute;
  width: 100%;
}

.player__play,
.player__prev,
.player__next {
  background: rgba(255, 255, 255, 0.01);
  border-radius: 60px;
  bottom: 0;
  box-shadow: 0 -2px 4px 0 rgba(255, 255, 255, 0.1);
  cursor: pointer;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: background 0.15s linear;
}

.player__play .player__icon,
.player__prev .player__icon,
.player__next .player__icon {
  transition: transform 0.05s linear;
}

.player__play:before,
.player__play:after,
.player__prev:before,
.player__prev:after,
.player__next:before,
.player__next:after {
  border-radius: 60px;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.player__play:before,
.player__prev:before,
.player__next:before {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.04)
  );
  box-shadow: 0 -1px 1px 0 rgba(255, 255, 255, 0.6);
  mix-blend-mode: overlay;
}

.player__play:after,
.player__prev:after,
.player__next:after {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  mix-blend-mode: soft-light;
}

.player__play:hover,
.player__prev:hover,
.player__next:hover {
  background: radial-gradient(
    ellipse at center,
    rgba(12, 11, 23, 0.4) 0%,
    rgba(86, 76, 132, 0.1) 60%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

.player__play:hover .player__icon,
.player__prev:hover .player__icon,
.player__next:hover .player__icon {
  transform: scale(0.9);
}

.player__play {
  height: 60px;
  width: 60px;
}

.player__prev,
.player__next {
  height: 40px;
  width: 40px;
}

.player__prev {
  right: 120px;
}

.player__next {
  left: 120px;
}

.player__icon {
  bottom: 0;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  height: 1em;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.4em;
}

.player__icon:before {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
}

.player__icon-play,
.player__icon-pause {
  font-size: 30px;
  width: 1.2em;
}

.player__icon-prev,
.player__icon-next {
  width: 1.4em;
}

.player__repeat {
  left: 0.5em;
  width: 1.4em;
}

.player__shuffle {
  right: 0.5em;
  width: 2em;
}

.player__repeat,
.player__shuffle {
  bottom: 0;
  color: #1a0c1d;
  height: 1.2em;
  font-size: 30px;
  margin: auto;
  position: absolute;
  top: 0;
}

.player__list {
  height: 1.2em;
  font-size: 20px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  top: 16px;
  width: 1.4em;
  z-index: 1;
}

.player__volume {
  height: 1.2em;
  font-size: 26px;
  right: 20px;
  position: absolute;
  top: 30px;
  width: 1.4em;
  z-index: 1;
}

.icon-next svg,
.icon-prev svg {
  width: 15px;
  height: 15px;
}

.icon-prev,
.icon-next {
  text-align: center;
}

.icon-prev svg {
  transform: rotate(180deg);
}

.icon-pause {
  margin-left: 9px;
}
.player .player__list {
  transition: all 500ms;
  padding: 0px 150px;
}
.player.active .player__list {
  transition: all 500ms;
  padding: 0px;
  transform: translate(60px, 13px) rotate(360deg);
}
.d-none {
  display: none;
}
.has-music {
  margin-bottom: 54px;
}

@media (min-width: 1024px) {
  .comments_swiper .swiper-slide {
    height: auto;
  }

  .comments_swiper .swiper-slide .box-testimony {
    height: 100%;
  }
  .comments_swiper .swiper-slide .box-testimony blockquote {
    height: calc(100% - 115px);
  }
}
/*LOADER-13*/
.loader-13 .css-heart {
  position: absolute;
  -webkit-animation: star-fly-out 1s ease alternate infinite;
  animation: star-fly-out 1s ease alternate infinite;
  -webkit-transform: scale(0.2);
  -ms-transform: scale(0.2);
  transform: scale(0.2);
}

.loader-13 .heart1 {
  top: 0;
  left: 30px;
}

.loader-13 .heart2 {
  left: 60px;
  top: 30px;
}

.loader-13 .heart3 {
  top: 60px;
  left: 30px;
}

.loader-13 .heart4 {
  left: 0;
  top: 30px;
}
@-webkit-keyframes star-fly-out {
  0% {
    top: 19px;
    left: 19px;
  }
  100% {
  }
}

@keyframes star-fly-out {
  0% {
    top: 19px;
    left: 19px;
  }
  100% {
  }
}

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}

.css-heart {
  position: absolute;
  /*      width: 100px;
  height: 90px;*/
}

.css-heart:before,
.css-heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #950d0d;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.css-heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.__loader {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, var(--loader-opacity));
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cb {
  display: block;
  margin: auto;
  width: 90px;
}
#qbootstrap-testimonials {
  background-repeat: no-repeat;
  background-size: cover;
}
.comment__wrapper,
.qbootstrap-cover,
#qbootstrap-started,
#qbootstrap-testimonials,
#qbootstrap-countdown {
  background-attachment: var(--ace-bg-attachment);
}
@media only screen and (max-width: 768px) {
  .comment__wrapper,
  .qbootstrap-cover,
  #qbootstrap-started,
  #qbootstrap-testimonials,
  #qbootstrap-countdown {
    background-attachment: scroll !important;
  }
}
body[data-template="islamic"] .countdown span {
  font-family: "shabnam" !important;
}

.vertical-top {
  vertical-align: top;
}
@media (max-width: 430px) {
  .names {
    display: block;
  }
}
.password__form {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: calc(100vw - 60px);
  max-width: 400px;
  height: auto;
}
.mx-auto {
  margin: auto;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay__sec {
  background: #00000063;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100000;
  top: 0;
}

.__loader_title {
  position: absolute;
  top: 160px;
  font-family: "Bad Script";
  color: #de4747;
  text-align: center;
}

.alllove {
  position: absolute;
  width: 160px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: calc(100% - 260px);
}

.love {
  position: absolute;
  top: 200px;
  left: 0;
  color: #de4747;
}

.love1 {
  -webkit-animation-name: love1;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
}

.love2 {
  left: 30px;
  -webkit-animation-name: love2;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
}

.love3 {
  left: 60px;
  -webkit-animation-name: love3;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
}

.love4 {
  left: 80px;
  -webkit-animation-name: love4;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
}

.love5 {
  left: 100px;
  -webkit-animation-name: love5;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes love1 {
  0% {
    top: 150px;
  }

  20% {
    left: 10px;
  }

  40% {
    left: 0px;
  }

  60% {
    left: 10px;
  }

  80% {
    left: 0px;
  }

  100% {
    top: 10px;
    left: 5px;
    opacity: 0;
  }
}

@-webkit-keyframes love2 {
  0% {
    top: 150px;
  }

  20% {
    left: 30px;
  }

  40% {
    left: 20px;
  }

  60% {
    left: 30px;
  }

  80% {
    left: 20px;
  }

  100% {
    top: 30px;
    left: 5px;
    opacity: 0;
  }
}

@-webkit-keyframes love3 {
  0% {
    top: 150px;
  }

  20% {
    left: 60px;
  }

  40% {
    left: 50px;
  }

  60% {
    left: 60px;
  }

  80% {
    left: 50px;
  }

  100% {
    top: 60px;
    left: 5px;
    opacity: 0;
  }
}

@-webkit-keyframes love4 {
  0% {
    top: 150px;
  }

  20% {
    left: 90px;
  }

  40% {
    left: 80px;
  }

  60% {
    left: 90px;
  }

  80% {
    left: 80px;
  }

  100% {
    top: 90px;
    left: 5px;
    opacity: 0;
  }
}

@-webkit-keyframes love5 {
  0% {
    top: 150px;
  }

  20% {
    left: 110px;
  }

  40% {
    left: 120px;
  }

  60% {
    left: 110px;
  }

  80% {
    left: 115px;
  }

  100% {
    top: 100px;
    left: 5px;
    opacity: 0;
  }
}

.text-right {
  font-size: right;
}

.text-left {
  font-size: left;
}
.countdown #month {
  display: none !important;
}
.countdown.long-time > span {
  margin: 0 10px !important;
}
.countdown.long-time #month {
  display: inline-block !important;
}

.text__main {
  white-space: pre-line;
}

.text__main[data-font="nastaliq"] {
  font-family: "nastaliq" !important;
  font-size: 32px !important;
  line-height: 210% !important;
  margin-bottom: 0 !important;
  margin-top: -50px;
}

.short__text[data-font="nastaliq"] {
  font-family: "nastaliq" !important;
  font-size: 30px !important;
  line-height: 210% !important;
  margin-bottom: 0 !important;
  margin-top: 20px;
}

.text__main[data-font="shekasteh"] {
  font-family: "shekasteh" !important;
  font-size: 32px !important;
  line-height: 230% !important;
  margin-bottom: 0 !important;
  padding: 0px 25px;
  margin-top: -50px;
}

.short__text[data-font="shekasteh"] {
  font-family: "shekasteh" !important;
  font-size: 30px !important;
  line-height: 230% !important;
  margin-bottom: 0 !important;
  padding: 0px 25px;
}

#main_image {
  background-image: var(--main-image-mobile);
}
@media only screen and (min-width: 768px) {
  #main_image {
    background-image: var(--main-image-desktop);
  }
}

/* ================ Scroll Down =====================*/
.scroll__down-desktop {
  position: absolute;
  left: 0;
  right: 53px;
  margin: auto;
  height: 150px;
  transform: translate(-3px, 0px);
}

@media (min-width: 1200px) {
  .scroll__down-desktop {
    height: 170px;
  }
}

.scroll__down {
  left: 50%;
  transform: translateY(0%) rotate(45deg);

  opacity: 0;
}

.scroll__down-first {
  width: 50px;
  height: 50px;
  background-color: transparent;
  z-index: 80;
  bottom: 55px;
  position: absolute;
  border-width: 0 5px 5px 0;
  border-style: solid;
  border-color: antiquewhite;
  animation: scrolldown 1.2s ease-in-out infinite 0.15s;
}

.scroll__down-second {
  width: 50px;
  height: 50px;
  background-color: transparent;
  z-index: 80;
  bottom: 35px;
  position: absolute;
  border-width: 0 5px 5px 0;
  border-style: solid;
  border-color: antiquewhite;
  animation: scrolldown 1.2s ease-in-out infinite;
}

@keyframes scrolldown {
  0% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }

  50% {
    transform: translateY(0%) rotate(45deg);
    opacity: 0.2;
  }

  100% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
}

.scroll__down-desktop {
  /* display: none; */
}

@media (min-width: 480px) {
  .scroll__down-desktop {
    display: block;
  }

  .names.text-left {
    padding-right: 300px;
  }

  .names.text-right {
    padding-left: 300px;
  }
}

@media (max-width: 480px) {
  .scroll__down-second,
  .scroll__down-first {
    width: 35px;
    height: 35px;
  }
  .scroll__down-box {
    transform: translateX(10px);
  }
  .nopadding-xs {
    padding: 0;
  }
}

.holder__and {
  display: block;
  margin: 10px auto;
  opacity: 0.6;
  height: 130px;
  margin-top: -65px;
}

.radio_box-title{
  color: white;
  font-size: 25px;
  margin-top: 12px;
  margin-bottom: 15px;
}

.radio_box{
  display: flex;
  flex-direction: column;
}

@media (min-width:425px) {
  .radio_box{
    display: flex;
    flex-direction: row;
  }
}

.radio_box-buttons{
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

@media only  screen and  (min-width:768px) {
  .radio_box-buttons{
    padding-right: 20px;
    column-gap: 20px;
    margin-bottom: 10px;
  }
  .art_radio{
    padding: 7px 10px;
  }
}
.comment__wrapper{
  position: relative;
  background-size: cover;
}

.comment__wrapper .overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

#qbootstrap-started,#qbootstrap-testimonials{
  z-index: 2;
  padding-top: 0;
  padding-bottom: 0;
}
#qbootstrap-testimonials,#qbootstrap-started{

}

.comment__header{
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.comment__rem{
  margin-top: 60px;
  margin-bottom: 0;
  padding-bottom: 0 !important;
}

.comment__svg{
  display: none;
}

@media only screen and (min-width:1200px) {
  .comment__header::before,.comment__header::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: white;
  }
  
  .comment__header::before{
    right: 20px;
    margin-bottom: 15px !important;
  }
  .comment__header::after{
    left: 20px;
  }

  .comment__svg{
    display: block;
    margin-right:auto ;
    margin-left: auto;
  }

}
.pt-0{
  padding-top: 0 !important;
}

.couple__image{
  width: 100%;
}
#qbootstrap-couple h3.couple__names{
  font-family: 'nastaliq';
  font-size: 40px;

}

.fix-navbar{
  position: fixed !important;
  top: 0 !important;
  background: #ffffff6e !important;
  margin-top: 0 !important;
  backdrop-filter: blur(5px);
  transition: 500ms ;
}



@media only screen and (min-width:1280px) {
  .fix-navbar{
    background-color: #0000006e !important;
  }
}